*{
    margin: -0px;
    padding: -0px;
}
.sidebar{
    background-color:rgb(185, 183, 183);
    width:150px ;
    transition:transform 0.2s ease-in ;
    position: absolute;
    height: 105vh;
    

}
.sidebar nav{
    padding: 25px;

}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: px 0;
    margin-top: 20px;
    padding-left: 10px;
}
.main{
    display: flex;
}
.container{
    display: flex;
}

.devpic img{
    width: 250px;
    height: 250px;
    border-radius: 150px;
    margin-left:300px;
    border: 15px solid rgb(247, 216, 201);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.vedinfo{ 
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction:column;
    background-color: rgb(29, 29, 29);
    margin-left: 250px;
    margin-top: 50px;



}
.hello{
    
    font-size: 50px;
}
.name{
    margin-left: 1px;
    font-size: 37px;
    font-weight:bold ;
}
.about{
    margin-left: 10px;
    font-size: 30px;
    margin-top: 23px;
    font-family: sans-serif;
}
.buttons button{
    padding:10px 14px;
    border-radius: 21px;
    background-color: rgb(81, 151, 192);
    color:white ;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
    margin-top:10px ;
}
.buttons button:hover{
    color:blue;
    background-color:white ;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
    margin-left: px;
}
.skill{
    margin-left: 5px;
}
.data{
    display: flex;
    width: 300px;
    height: 300px;
    background-color: rgb(33, 173, 126);
    justify-content: center;
}
.hamburger{
    position:absolute;
    cursor: pointer;
    top:5px;
    left:px;
    border-radius: 10px;
}
.cross{
    margin-left:116px ;
    border-radius: 10px;
}
.sidebargo{
    transform:translate(-40vw, 0px)
}
@media (max-width:1225px)
{
   /* *{
        background-color: ;
    }*/
    

    .sidebar{
        transition: translate(-20vw, 0px);
        
    

    }
    .vedinfo{
        position:absolute ;
        font-size: 20px;
        font-family: sans-serif;
        background-color: rgb(79, 79, 92);
        margin-left: 100px;
        margin-bottom: 100px;
        width:70vw ;
        

    }
    .name{
        font-size: 30px;
    }
    .hello{
        font-size: 40px;
    }
    .about{
        font-size: 10px;
        
    }
    .buttons button{
        font-size: 7px;
        width: 70px;
        height: 30px;
        margin-bottom: 15px;
    }

}
@media(max-width:1000px){
   .devpic{

            display: none;
    }
}
@media(max-width:837px){
    .devpic{
        margin-bottom: 100px;
        padding-bottom: 100px;
    }
}
@media(max-width:1350px){
    .blogitem  {
        font-size: 10px;
        transition: translate(-20vw, 0px);
    }
    .paragraph{
        font-size:5px;
    }
}
@media(max-width:1050px){

    }
    .sidebar{
        width: 10vw;
        margin-right: 20vw;
    }
    .sidebar nav li{
        margin-bottom:100px;
        margin-right: 100px;
    }

@media (max-width:700px){
    .sidebar{
        transition:translate(-600px, 0px);
    }
}
.ham{
    margin-left: 8px;
}
@media (max-width:903px){
    .skill{
        background-color: greenyellow;
        font-size: 20px;
        width: 25vw;
        display: none;
    }
    .myskill{
        font-size: 30px;
    }
    .aboutt{
        margin-right: 200px;
    }
}
.aboutt{
    background-color: rgb(87, 105, 105);
     width: 70vw;
      margin-left: 300px; 
      border-radius: 15px;
      height: 70vh;
      margin-top: 100px;
}
.linkedin button{
    border-radius: 100px;
    background-color: rgb(72, 178, 213);
    color: rgb(206, 63, 63);
}

@media(max-width:730px){

    .info{
        position:absolute ;
        font-size: 20px;
        font-family: sans-serif;
        background-color: rgb(177, 177, 237);
        margin-left: 140px;
        margin-bottom: 100px;
        
    }
    .sidebar{
        width: 27vw;
        height:1200px ;
    }
}
